*{
    height: 100%;
    /* width: 100%; */
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: #fff;
    font-family: 'Plain Light';
}

html, body{
    height: 100%;
    width: 100%;

}

#loader{ 
    height: 100%;
    width: 100%;
    position: fixed;
    z-index: 999;
    background-color: #0B0B0B;
    padding: 25vh 10vw;
}


.loaderImg{
    position: absolute;
    top: 5vh;
}

.spidermanImg{
    position: absolute;
    left: 60vw;
    width: 20vw;
    height: 20vw;
}

.ironmanImg{
    position: absolute;
    top: 50vh;
    left: 60vw;
    width: 20vw;
    height: 20vw;
}


/* @keyframes floatEffect{
    0%{
        transform: translateY(0px);
    }
    50%{
        transform: translateY(15px);
    }
    100%{
        transform: translateY(0px);
    }
} */



.line{
    /* background-color: rebeccapurple; */
    height: fit-content;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 3vw;
}

#line1-part1{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1vw;
}

.captainSheild{
    width: 5.1vw;
    height: 5.1vw;
}
.spideyWeb{
    width: 5vw;
    height: 5vw;
}


#line1-part1 h5, #line1-part1 h6{
    font-size: 4vw;
    font-weight: 100;
    font-family: "Avengeance";

}

#line1-part1 h5{
    /* background-color: red; */
    width: 5vw;
    text-align: end;
}

.line h1{
    font-size: 6.5vw;
    text-transform: uppercase;
    font-weight: 900;
}

.line h2{
    font-size: 6.5vw;
    text-transform: uppercase;
    font-weight: 900;
    opacity: 0;
    margin: 0;
    /* animation-name: anime; */
    animation-duration: 1.5s;
    animation-iteration-count: infinite;

}

@keyframes anime{
    0%{
        opacity: 1;
    }
    45%{
        opacity: 0;
    }
    50%{
        opacity: 1;
    }
    100%{
        opacity: 0;
    }
}



#main{
    position: relative;

}

#page1{
    height: 100vh;
    width: 100%;
    background-color: #ff0000 ;
}

#page1 #navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2.3vw 5vw;
    height: 7vw;
    background-color: rgb(0, 21, 210);
}
.marvelLogo{
    width: 75px;
    height: 27px;
}

#nav2ndPart{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 4vw;
}

#nav2ndPart h4{
    font-weight: 600;
}



